# VITE_APP_BASE_URL="https://solutiondd.ruijieddns.com/ckk_api/"
# VITE_IMG_PROFILE_URL="https://solutiondd.ruijieddns.com/ckk_api/"

# VITE_APP_BASE_URL="https://ckk.zoftdd.com/ckk_api/"
# VITE_IMG_PROFILE_URL="https://ckk.zoftdd.com/ckk_api/"
# VITE_APP_IMG_URL="https://ckk.zoftdd.com/facetime/"
# VITE_IMG_PROFILE_URL="https://ckk.zoftdd.com/facetime/files/"

# VITE_APP_BASE_URL="https://demo1.zoftdd.com/ckk_api/"
# VITE_IMG_PROFILE_URL="https://demo1.zoftdd.com/ckk_api/"

# VITE_ACCESS_TOKEN_WS = "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI2ODcwYTQxMjg4MzVmNDk0ZjRhMDdiZGEiLCJkaXNwbGF5TmFtZSI6InNwY29uIiwicm9sZSI6InBhcmsgdXNlciIsInBhcmsiOiI2ODcwOWYyZGM2OTdiZWFkMTlkYmUyNmIiLCJhY2Nlc3MiOltdLCJzY29wZSI6InBhcmsiLCJncmFudF90eXBlIjoicGFzc3dvcmQgY3JlZGVudGlhbCIsImlhdCI6MTc1OTM3OTQ3Nn0.YdrMkQRiyj6duHasUdO8GDYQ9Sbb63aiFF_hEHG2gzMgXM9kcPYCYLIhg8DCuyd5GkZUhJcZ2gwutuLKsStzV7Gem9B6z_nX5vaOpHs0bZV0yzEJT8SFlxQwgJGO0R7r7vWcfQGcZYjS6Tro7T0TF7jkgq_3utBFU_d1to5Vafbs0-zcjll9etWtviyAVXEEtSkCKk3Ez71eW27h0uTpHR3LytSrwJcf5zkLOFbD_heATPYCTzpwioUq2aZJFIpvjKKFT1C86k3eZ3PegsKOzv_0N_8CMPNUB0PpBmgbDKMOXPb8n8G1Vtb97RaTqmFqprgYmEwsyU7vmuiBifdizw"

# VITE_LINE_REDIRECT_URL="https://liff.line.me/2008213974-neKr5jVP"